.tbl_hotbuildsui {
    width: 100%;
    text-align: left;
}

.tr_hotbuildsui_row_header {
    text-align: left;
    border-bottom: 1px solid #888;
    color: #0FF;
}

#keyboardcontainer {
width: 688px;
}
#moresettings{
    clear:both;
}

#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
}

#keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #0F1F3D;
    border: 1px solid #f9f9f9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #00FFCC;
}

.capslock, .tab, .left-shift {
    clear: left;
}

#keyboard .tab, #keyboard .delete {
    width: 70px;
}

#keyboard .capslock {
    width: 80px;
}

#keyboard .return {
    width: 77px;
}

#keyboard .left-shift {
    width: 95px;
}

#keyboard .right-shift {
    width: 109px;
}

.lastitem {
    margin-right: 0;
}

.uppercase {
    text-transform: uppercase;
}

#keyboard .space {
    clear: left;
    width: 681px;
}

.on {
    display: none;
}

.dis {
    border: 1px solid red !important;
}

.active {
    //background: #eee !important;
    border: 1px solid white !important;
    font-weight: bolder;
    color: white !important;
    text-transform: uppercase;
}

.hbk {
    background: #798292 !important;
    /*border: 1px solid orange !important;*/
}

.uber {
    background: #0F3D21 !important;
}

#keyboard li:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
}
