/* GENERAL LAYOUT *
 ******************/

#hb_settings_cont{
	position: relative;
	min-width: 100%;
	min-height: 100%;
}

#hb_header{
	position: absolute;
	top: 0px;
	width: 100%;
	height: 24px;
}

#hb_kb_cont{
	position: absolute;
	top: 24px;
	width: 100%;
	height: 280px;
	border: 1px solid white;
}

#hb_assign_cont {

}

#hb_assign_left  {
	position: absolute;
	top: 304px;
	bottom: 24px;
	left: 0px;
	border: 1px solid orange;
	width: 50%;
	direction: rtl;
	overflow-y: scroll;
}

#hb_assign_sequence {
    direction: ltr;
}

#hb_assign_right{
	position: absolute;
	top: 304px;
	bottom: 24px;
	right: 0px;
	border: 1px solid yellow;
	width: 50%;
	overflow-y: scroll;
}

#hb_assign_select {

}


#hb_footer {
    position: absolute;
    bottom: 0;
    height: 24px;
    width: 100%;
	border: 1px solid green;
}

/*  HEADER ITEMS  *
 ******************/
 
#hb_comments, #hb_troubles {
display: inline-block;
float: left;
padding-right: 24px;
}

 