.tbl_hotbuildsui {
    width: 100%;
    text-align: left;
}

.tr_hotbuildsui_row_header {
    text-align: left;
    border-bottom: 1px solid #888;
    color: #0FF;
}

#keyboardcontainer {
width: 570px;
}
#moresettings{
    clear:both;
}

#keyboard {
   margin: 0;
   padding: 0;
   list-style: none;
}

#keyboard li {
   float: left;
   margin: 0 5px 5px 0;
   width: 30px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   background: #000504;
   border: 1px solid #CBFFF4;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   color: #00FFCC;
}

#legend {
   padding-left: 50px;
   list-style: none;
}


#legend li {
   float: left;
   margin: 0 5px 5px 0;
   width: 30px;
   height: 30px;
   line-height: 30px;
   text-align: center;
   background: #000504;
   border: 1px solid #CBFFF4;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   color: #00FFCC;
}

.capslock, .tab, .left-shift {
   clear: left;
}

#keyboard .tab, #keyboard .delete {
   width: 80px;
}

#keyboard .capslock {
   width: 80px;
}

#keyboard .return {
   width: 67px;
}

#keyboard .left-shift {
   width: 85px;
}

#keyboard .right-shift {
   width: 99px;
}

.lastitem {
   margin-right: 0;
}

.uppercase {
   text-transform: uppercase;
}

#keyboard .space {
   clear: left;
   width: 560px;
}

.on {
   display: none;
}

.dis {
   border-color: #FF4C00 !important;
}

.active {
   outline: #CBFFF4 solid thin !important;
   font-weight: bolder;
   text-transform: uppercase;
}

.hbk {
   background: #006551 !important;
}

.uber {
   border-color: #00FF4C !important;
}

#keyboard li:hover {
   position: relative;
   top: 1px;
   left: 1px;
   border-color: #CBFFF4;
   cursor: pointer;
}