#hotbuild_info {
    /*
    position: fixed;
	top: 250px;
	left: 10px;
        */
}

/*----- SELECTION BAR
-----------------------------------------------------------------*/
.hotbuild_fab_info__cont {
height: auto;
min-width:52px; 
max-width: 156px;
position: absolute;
bottom: 22px;
background:rgba(0,0,0,.6);
border-radius:4px;
}

.hotbuild_current_fab_info_cont {
    height:auto;
    width:auto;
}

.hotbuild_fab_selection {
	height: 48px;
    width: 48px;
    border: 1px solid rgba(255,127,0,.7);
    border-radius:2px; 
    float:left;
    margin:1px;
    position:relative;
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,1) 10%,rgba(0,0,0,0.9) 35%,rgba(0,0,0,0.8) 100%); 
    box-shadow: inset 0 0 30px rgb(153, 76, 0);
}

.hotbuild_selected_fab {
    height: 36px;
    width: 36px;
    position:absolute;
    top:4px;
    left:4px;
}
.hotbuild_selected_text {
    padding: 2px;
    font-size: 12px;
    position:absolute;
    bottom:0;
    right:0;
    z-index:100;
    color: rgb(255, 127, 0);
}


.hbbuildbarkey {
	color: rgba(255,255,255,1);
    position: absolute;
	top: 0;
    display: block;
    background: rgba(255,127,0,.3);
    padding: 2px;
    border-radius: 2px;
    font-size: 12px;
    border: 1px solid rgba(255,127,0,1);
    text-transform: uppercase;
	min-width: 16px;
}

.hbselectionbarkey{
	color: rgba(255,255,255,1);
    position: absolute;
	top: 0;
    left: 0;
    display: block;
	background: rgba(51,51,51,.5);
    padding: 2px;
    border-radius: 2px;
    font-size: 12px;
	border: 1px solid rgba(153,153,153,1);	
    text-transform: uppercase;
}

.div_command_item.order_energy_item, .div_command_item.order_buildstance_item, #A5, #A6, #A7, #A8, #A9, #A10, #A12, #A13, #A20, #A21  {
position: relative !important;
}

.hbsidebarkey{
	color: rgba(255,255,255,1);
	position: absolute;
	left: -18px;
	bottom: 8px;
	background: rgba(51,51,51,.5);
	padding: 2px;
    border-radius: 2px;
    font-size: 12px;
	border: 1px solid rgba(153,153,153,1);
    text-transform: uppercase;
	min-width: 16px;
	text-align: center;
}

.hbunitName {
	color: rgb(255, 127, 0);
	text-shadow: 0px 0px 5px rgba(0,0,0,1),0px 0px 4px rgba(0,0,0,1),0px 0px 3px rgba(0,0,0,1),0px 0px 2px rgba(0,0,0,1);
}